h1{
  text-align: center;
  margin-top: 150px;
}
button{
  display: inline-block;
  background: #D6CECC;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 20px;
  transition: all 200ms ease-in;
  cursor: pointer;
  border-radius: 10px;
}

.bb{
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.form_field {
   width: 360px;
   background: #fff;
   font: inherit;
   box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
   border: 0;
   outline: 0;
   padding: 22px 18px;
 }
