<section class="container">
    <h1 class="nomBat">Bat 1</h1>
    <div class="salles">
        <div class="salle">
            <div class="justify-between">
                <h2 class="nomSalle">Test salle 1</h2>
                <span class="etat"></span>
            </div>
            <p>Prochaine dispo : </p>
            <ul>
                <li>13h30 - 14h30</li>
                <li>13h30 - 14h30</li>
            </ul>
        </div>
        <div class="salle">
            <div class="justify-between">
                <h2 class="nomSalle">Test salle 1</h2>
                <span class="etat"></span>
            </div>
            <p>Prochaine dispo : </p>
            <ul>
                <li>13h30 - 14h30</li>
                <li>13h30 - 14h30</li>
            </ul>
        </div>
        <div class="salle">
            <div class="justify-between">
                <h2 class="nomSalle">Test salle 1</h2>
                <span class="etat"></span>
            </div>
            <p>Prochaine dispo : </p>
            <ul>
                <li>13h30 - 14h30</li>
                <li>13h30 - 14h30</li>
            </ul>
        </div>
        <div class="salle">
            <div class="justify-between">
                <h2 class="nomSalle">Test salle 1</h2>
                <span class="etat"></span>
            </div>
            <p>Prochaine dispo : </p>
            <ul>
                <li>13h30 - 14h30</li>
                <li>13h30 - 14h30</li>
            </ul>
        </div>
        <div class="salle">
            <div class="justify-between">
                <h2 class="nomSalle">Test salle 1</h2>
                <span class="etat"></span>
            </div>
            <p>Prochaine dispo : </p>
            <ul>
                <li>13h30 - 14h30</li>
                <li>13h30 - 14h30</li>
            </ul>
        </div>
        <div class="salle">
            <div class="justify-between">
                <h2 class="nomSalle">Test salle 1</h2>
                <span class="etat"></span>
            </div>
            <p>Prochaine dispo : </p>
            <ul>
                <li>13h30 - 14h30</li>
                <li>13h30 - 14h30</li>
            </ul>
        </div>
        <div class="salle">
            <div class="justify-between">
                <h2 class="nomSalle">Test salle 1</h2>
                <span class="etat"></span>
            </div>
            <p>Prochaine dispo : </p>
            <ul>
                <li>13h30 - 14h30</li>
                <li>13h30 - 14h30</li>
            </ul>
        </div>
        <div class="salle">
            <div class="justify-between">
                <h2 class="nomSalle">Test salle 1</h2>
                <span class="etat"></span>
            </div>
            <p>Prochaine dispo : </p>
            <ul>
                <li>13h30 - 14h30</li>
                <li>13h30 - 14h30</li>
            </ul>
        </div>
        <div class="salle">
            <div class="justify-between">
                <h2 class="nomSalle">Test salle 1</h2>
                <span class="etat"></span>
            </div>
            <p>Prochaine dispo : </p>
            <ul>
                <li>13h30 - 14h30</li>
                <li>13h30 - 14h30</li>
            </ul>
        </div>
        <div class="salle">
            <div class="justify-between">
                <h2 class="nomSalle">Test salle 1</h2>
                <span class="etat"></span>
            </div>
            <p>Prochaine dispo : </p>
            <ul>
                <li>13h30 - 14h30</li>
                <li>13h30 - 14h30</li>
            </ul>
        </div>
        <div class="salle">
            <div class="justify-between">
                <h2 class="nomSalle">Test salle 1</h2>
                <span class="etat"></span>
            </div>
            <p>Prochaine dispo : </p>
            <ul>
                <li>13h30 - 14h30</li>
                <li>13h30 - 14h30</li>
            </ul>
        </div>
        <div class="salle">
            <div class="justify-between">
                <h2 class="nomSalle">Test salle 1</h2>
                <span class="etat"></span>
            </div>
            <p>Prochaine dispo : </p>
            <ul>
                <li>13h30 - 14h30</li>
                <li>13h30 - 14h30</li>
            </ul>
        </div>
        <div class="salle">
            <div class="justify-between">
                <h2 class="nomSalle">Test salle 1</h2>
                <span class="etat"></span>
            </div>
            <p>Prochaine dispo : </p>
            <ul>
                <li>13h30 - 14h30</li>
                <li>13h30 - 14h30</li>
            </ul>
        </div>
    </div>
</section>