<section class="container">
    <h1 class="nomBat">Batiment 1</h1>
    <div class="salles">
        <div class="salle">
            <div class="justify-between">
                <h2 class="nomSalle">Test salle 1</h2>
                <span class="etatTrue"></span>
            </div>
            <p>Prochaine dispo : </p>
            <ul>
                <li>13h30 - 14h30</li>
                <li>15h30 - 16h45</li>
            </ul>
        </div>
        <div class="salle">
            <div class="justify-between">
                <h2 class="nomSalle">Test salle 2</h2>
                <span class="etatFalse"></span>
            </div>
            <p>Prochaine dispo : </p>
            <ul>
                <li>13h30 - 14h30</li>
                <li>15h30 - 16h45</li>
            </ul>
        </div>
        <div class="salle">
            <div class="justify-between">
                <h2 class="nomSalle">Test salle 3</h2>
                <span class="etatTrue"></span>
            </div>
            <p>Prochaine dispo : </p>
            <ul>
                <li>13h30 - 14h30</li>
                <li>15h30 - 16h45</li>
            </ul>
        </div>
        <div class="salle">
            <div class="justify-between">
                <h2 class="nomSalle">Test salle 4</h2>
                <span class="etatFalse"></span>
            </div>
            <p>Prochaine dispo : </p>
            <ul>
                <li>13h30 - 14h30</li>
                <li>15h30 - 16h45</li>
            </ul>
        </div>
        <div class="salle">
            <div class="justify-between">
                <h2 class="nomSalle">Test salle 5</h2>
                <span class="etatFalse"></span>
            </div>
            <p>Prochaine dispo : </p>
            <ul>
                <li>13h30 - 14h30</li>
                <li>15h30 - 16h45</li>
            </ul>
        </div>
        <div class="salle">
            <div class="justify-between">
                <h2 class="nomSalle">Test salle 6</h2>
                <span class="etatTrue"></span>
            </div>
            <p>Prochaine dispo : </p>
            <ul>
                <li>13h30 - 14h30</li>
                <li>15h30 - 16h45</li>
            </ul>
        </div>
        <div class="salle">
            <div class="justify-between">
                <h2 class="nomSalle">Test salle 7</h2>
                <span class="etatFalse"></span>
            </div>
            <p>Prochaine dispo : </p>
            <ul>
                <li>13h30 - 14h30</li>
                <li>15h30 - 16h45</li>
            </ul>
        </div>
        <div class="salle">
            <div class="justify-between">
                <h2 class="nomSalle">Test salle 8</h2>
                <span class="etatTrue"></span>
            </div>
            <p>Prochaine dispo : </p>
            <ul>
                <li>13h30 - 14h30</li>
                <li>15h30 - 16h45</li>
            </ul>
        </div>
        <div class="salle">
            <div class="justify-between">
                <h2 class="nomSalle">Test salle 9</h2>
                <span class="etatTrue"></span>
            </div>
            <p>Prochaine dispo : </p>
            <ul>
                <li>13h30 - 14h30</li>
                <li>15h30 - 16h45</li>
            </ul>
        </div>        
    </div>
</section>